body {
  transition: background-color 0.3s ease-in;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn {
  border: none;
  outline: none;
  padding: 10px 12px;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
